@media only screen and (min-width: 35rem) {
 
  main {
    max-width: 700px;
    margin: 0 auto;
  }
 
  header h1 {
    font-size: 2rem;
  }
 
  .fw1 fieldset {
    padding: 0.5rem;
  }
 
  
  .fw1 fieldset:nth-of-type(2):not(:has(.nota)) label {
    display: inline-block;
    margin-right: 1rem;
  }
 
 
  .fw1 fieldset:has(.nota) {
    display: flex;
    flex-wrap: wrap;
  }
 
  .fw1 fieldset:has(.nota) > div:not(.nota) {
    width: 100%;
    margin-bottom: 8px;
  }
 
  .fw1 fieldset:has(.nota) .nota {
    width: 20%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 6px;
  }
 
  .fw1 fieldset:has(.nota) .nota label {
    width: 100%;
    text-align: center;
    display: block;
    margin-right: 0;
  }
 
  .fw1 fieldset:has(.nota) .nota input {
    margin: 0;
  }
 
  .fw1 input[type="submit"] {
    max-width: 700px;
  }
}
